
button {
    padding: 0 1rem;
    height: 2rem;
    border: 0;
    color: white;
    border-radius: 4px;

    cursor: pointer;
    transition: all .3s ease;
    
    &:hover {
        transform: scale(1.1);
    }

    &.primary {
        background-color: #008E89;
    }

    &.primary:hover {
        background-color: #085E7D;
    }

    &.secondary {
        background-color: #F7F6F2;
        color: #757575;
    }

    &.secondary:hover {
        background-color: #C8C6C6;
    }
}